.card, .trayCard, .trayOverlayCard {
  box-sizing: content-box;
  padding: 10px;
  border-radius: 3px;
  border-color:chocolate;
  border-width: 1px;
  border-style: solid;
  background-color:bisque;
  color:black;
  cursor: grab
}

.tray {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.canvasWindow {
  overflow: hidden;
  border-radius: 3px;
  border-color:chocolate;
  border-width: 1px;
  border-style: solid;
  background-color:snow;
}
